In [1]:
# Importing all libaries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PowerTransformer, StandardScaler, minmax_scale
import pandas as pd
import numpy as np;
import scipy;
## plotting libraries
from matplotlib import pyplot as plt
import seaborn as sns
## stats Libraries
from scipy import stats
import statsmodels.api as sm
## Sklearn libraries
from sklearn import model_selection
from sklearn import metrics as metrics
from sklearn import preprocessing
from sklearn import linear_model as lm
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

### Don't run the cells below, the model takes a long computation time

In [25]:
#load the CSV data
data = pd.read_csv("data/loan_cleaned.csv")

In [26]:
# Check the target variable for inbalances
data["status"].value_counts()

0    112031
1     36639
Name: status, dtype: int64

In [3]:
data

,loan_amount,rate_of_interest,interest_rate_spread,upfront_charges,term,property_value,income,credit_score,ltv,status,...,dmy_45-54,dmy_55-64,dmy_65-74,dmy_<25,dmy_>74,dmy_to_inst,dmy_North-East,dmy_central,dmy_south,dmy_direct
0,116500,3.990000,-0.028000,0.000000,360.0,118000.000000,1740.0,758,98.728814,1,...,0,0,0,0,0,1,0,0,1,1
1,206500,4.045475,0.441651,3224.966547,360.0,497893.465696,4980.0,552,72.746457,1,...,0,1,0,0,0,1,0,0,0,1
2,406500,4.560000,0.200000,595.000000,360.0,508000.000000,9480.0,834,80.019685,0,...,0,0,0,0,0,1,0,0,1,1
3,456500,4.250000,0.681000,3224.966547,360.0,658000.000000,11880.0,587,69.376900,0,...,1,0,0,0,0,0,0,0,0,1
4,696500,4.000000,0.304200,0.000000,360.0,758000.000000,10440.0,602,91.886544,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,436500,3.125000,0.257100,9960.000000,180.0,608000.000000,7860.0,659,71.792763,0,...,0,1,0,0,0,1,0,0,1,1
148666,586500,5.190000,0.854400,0.000000,360.0,788000.000000,7140.0,569,74.428934,0,...,0,0,0,0,0,0,0,0,1,1
148667,446500,3.125000,0.081600,1226.640000,180.0,728000.000000,6900.0,702,61.332418,0,...,1,0,0,0,0,0,0,0,0,1
148668,196500,3.500000,0.582400,4323.330000,180.0,278000.000000,7140.0,737,70.683453,0,...,0,1,0,0,0,1,0,0,0,1
148669,406500,4.375000,1.387100,6000.000000,240.0,558000.000000,7260.0,830,72.849462,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
# Define y and X
y = data['status']
X = data.drop(["status"], axis = 1)

In [6]:
# Split the data in train and test set
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.20, random_state=42)

In [7]:
# Upscale the data with Smote
smote = SMOTE()
X_sm, y_sm = smote.fit_resample(X_train, y_train)
y_sm.value_counts()

0    89537
1    89537
Name: status, dtype: int64

In [8]:
# Define the Hyperparameters to run the model with to find the best parameters
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [ 50, 150, 200],
    'min_samples_split': [2, 3],
    'min_samples_leaf' : [1, 2],
    'max_features': ['sqrt'],
    'max_depth':[4,6,12],
    'bootstrap':[True] 
    #'max_samples' : ['None', 0.5],

    }
clf = RandomForestClassifier(random_state=100)

In [9]:
# Define the GridSearch function to run the model with all parameters defined in param_grid
grid_search = GridSearchCV(clf, param_grid,return_train_score=True,n_jobs=-1, scoring="recall")

In [10]:
# Run the all models with the upsacled data, this Cell runs ~ 20 min
grid_search.fit(X_sm,y_sm)

GridSearchCV(estimator=RandomForestClassifier(random_state=100), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [4, 6, 12],
                         'max_features': ['sqrt'], 'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 3],
                         'n_estimators': [50, 150, 200]},
             return_train_score=True, scoring='recall')

In [11]:
# Get the best possible combinations of hyperparameters 
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 12,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 50}

In [12]:
# Redefine the model again with the best hyperparameters and calculate the cross validation
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(random_state=100, max_features='sqrt', 
                             min_samples_leaf=1, min_samples_split=2, n_estimators=50, max_depth=12, bootstrap=True)
cross_val_scores_train = cross_val_score(clf, X_sm, y_sm, cv=5)
print(np.mean(cross_val_scores_train))

0.9999050664616707

In [13]:
# Run the new model on the scaled data
clf.fit(X_sm, y_sm)

RandomForestClassifier(max_depth=12, max_features='sqrt', n_estimators=50,
                       random_state=100)

In [14]:
# Getting the number of columns
len(X_train.columns)

45

In [15]:
# Creatating a list with the column names
feature_names = X_train.columns
feature_names = list(feature_names)

In [16]:
# Creating a dataframe with the each columns feature importance, ranked from high to low
df = pd.DataFrame(list(zip(feature_names, clf.feature_importances_)))
df.columns = ['columns_name', 'score_feature_importance']
df.sort_values(by=['score_feature_importance'], ascending = False)

            columns_name  score_feature_importance
2   interest_rate_spread              2.850252e-01
1       rate_of_interest              2.784423e-01
3        upfront_charges              2.334088e-01
31              dmy_EQUI              4.560415e-02
30              dmy_CRIF              2.128183e-02
9                  dtir1              2.017571e-02
8                    ltv              1.716115e-02
20           dmy_not_neg              1.689276e-02
22          dmy_not_lpsm              1.077016e-02
32               dmy_EXP              1.004279e-02
5         property_value              9.460708e-03
19             dmy_nob/c              8.574622e-03
15                dmy_p3              5.173378e-03
34             dmy_35-44              5.031749e-03
11               dmy_pre              4.312598e-03
33             dmy_EXP.1              3.586224e-03
35             dmy_45-54              3.531904e-03
4                   term              3.459664e-03
16                dmy_p4              3.354415e-03
12             dmy_type2              2.700948e-03
6                 income              2.670020e-03
36             dmy_55-64              1.990239e-03
0            loan_amount              1.570361e-03
43             dmy_south              1.006442e-03
40           dmy_to_inst              9.281986e-04
13             dmy_type3              9.230678e-04
37             dmy_65-74              7.796079e-04
17                dmy_l2              4.055716e-04
7           credit_score              3.467439e-04
18               dmy_opc              3.059565e-04
24                dmy_pr              2.817380e-04
10               dmy_ncf              1.738938e-04
14                dmy_p2              1.622627e-04
39               dmy_>74              1.296085e-04
21           dmy_not_int              1.168347e-04
42           dmy_central              8.179840e-05
25                dmy_sr              5.591834e-05
27                dmy_2U              3.222168e-05
28                dmy_3U              1.516445e-05
41        dmy_North-East              1.359185e-05
29                dmy_4U              1.032451e-05
38               dmy_<25              7.500689e-06
23                dmy_sb              1.689794e-06
44            dmy_direct              1.475939e-07
26              dmy_land              1.858167e-10

In [17]:
# Calculate the cross validation for the training and test set
cross_val_scores_test = cross_val_score(clf, X_test, y_test, cv=10)
print(np.mean(cross_val_scores_train))
print(np.mean(cross_val_scores_test))

0.9999050664616707
0.9999663752521857

In [18]:
cross_val_scores_test

array([1.        , 1.        , 1.        , 0.99966375, 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [16]:
# Import the recall score function
from sklearn.metrics import recall_score

In [20]:
# Safe the predction for X_test in a variable
y_pred= clf.predict(X_test)

In [21]:
y_pred

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [22]:
# Calculate the recall score
recall_score(y_test, y_pred)

0.9998618784530386

### Run the Cells from here on

In [38]:
# Importing the data as CSV
data2=pd.read_csv("data/loan_cleaned.csv")

In [39]:
# Defining y and X with much less feature for nicer user experience when calculating customers loan chances
y2 = data2['status']
X2 = data2[['loan_amount','income', 'credit_score', 'dmy_CRIF','dmy_EQUI', 'dmy_EXP']]
#X2 = data2[['loan_amount', 'rate_of_interest', 'interest_rate_spread','upfront_charges',
#       'income', 'credit_score', 'dmy_CRIF','dmy_EQUI', 'dmy_EXP']]

In [40]:
# Rounding the X-data to 2 decimals
X2= X2.round({'loan_amount':2,'income':2})
#X2= X2.round({'loan_amount': 2, 'rate_of_interest': 2, 'interest_rate_spread': 2, 'upfront_charges': 2,
#             'income':2})

In [41]:
# Split the data in training and test set
X_train2, X_test2, y_train2, y_test2=train_test_split(X2, y2, test_size=.30, random_state=42)

In [42]:
# Upsampling the data with smote
smote = SMOTE()
X_sm2, y_sm2 = smote.fit_resample(X_train2, y_train2)
y_sm2.value_counts()

1    78344
0    78344
Name: status, dtype: int64

In [43]:
# Define the Hyperparameters to run the model with to find the best parameters
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid2 = {
    'n_estimators': [ 50, 150],
    'min_samples_split': [2, 3],
    'min_samples_leaf' : [1, 2],
    'max_features': ['sqrt'],
    'max_depth':[12,5],
    'bootstrap':[True] 
    #'max_samples' : ['None', 0.5],

    }
clf2 = RandomForestClassifier(random_state=100)

In [44]:
# Define the GridSearch function to run the model with all parameters defined in param_grid
grid_search2 = GridSearchCV(clf2, param_grid2,return_train_score=True,n_jobs=-1, scoring="recall")

In [45]:
# Run the all models with the upsacled data
grid_search2.fit(X_sm2,y_sm2)

GridSearchCV(estimator=RandomForestClassifier(random_state=100), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [12, 5],
                         'max_features': ['sqrt'], 'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 3],
                         'n_estimators': [50, 150]},
             return_train_score=True, scoring='recall')

In [46]:
# Get the best possible combinations of hyperparameters 
grid_search2.best_params_

{'bootstrap': True,
 'max_depth': 5,
 'max_features': 'sqrt',
 'min_samples_leaf': 2,
 'min_samples_split': 2,
 'n_estimators': 150}

In [47]:
# Redefine the model again with the best hyperparameters and calculate the cross validation
from sklearn.model_selection import cross_val_score
clf2 = RandomForestClassifier(random_state=100, max_features='sqrt', 
                             min_samples_leaf=2, min_samples_split=2, n_estimators=150, max_depth=5, bootstrap=True)
cross_val_scores_train2 = cross_val_score(clf2, X_sm2, y_sm2, cv=5)
print(np.mean(cross_val_scores_train2))

0.7390680770034584

In [48]:
# # Run the new model on the scaled data
clf2.fit(X_sm2, y_sm2)

RandomForestClassifier(max_depth=5, max_features='sqrt', min_samples_leaf=2,
                       n_estimators=150, random_state=100)

In [49]:
# Calculate the cross validation for the training and test set
cross_val_scores_test2 = cross_val_score(clf2, X_test2, y_test2, cv=10)
print(np.mean(cross_val_scores_train2))
print(np.mean(cross_val_scores_test2))

0.7390680770034584
0.8611914268453151

In [50]:
# Import the recall score function
from sklearn.metrics import recall_score

In [51]:
# Safe the predction for X_test in a variable
y_pred2 = clf2.predict(X_test2)

In [52]:
y_pred2

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [53]:
# Calculate the recall score
recall_score(y_test2, y_pred2)

0.6333150082462892

In [54]:
# Creating a new data frame to compare results
results = pd.DataFrame({"prediction":y_pred2, "real":y_test2})

In [55]:
pd.set_option('display.max_rows', 500)
results.head(300)

        prediction  real
24912            0     0
147068           0     0
123284           0     0
53610            0     0
39672            0     0
4656             0     0
38443            0     0
89423            1     0
41909            0     0
57290            1     0
107022           0     0
108004           0     0
71541            0     0
3837             1     1
74725            0     0
7878             1     0
77143            0     0
107084           0     1
31824            0     0
48134            0     0
100687           0     0
29748            1     1
46331            0     0
89163            1     0
31895            1     0
105376           1     0
136038           1     0
20788            1     1
67204            0     0
57957            0     0
38669            1     0
114048           0     0
821              1     1
40082            0     0
60762            0     0
145546           0     1
26892            1     0
56084            1     0
104485           1     0
72194            1     0
107847           0     0
9954             0     0
94681            1     1
120280           0     1
42282            1     0
72179            0     0
109026           0     0
19858            1     0
126029           0     0
120055           0     0
114741           0     0
120930           1     0
68859            0     0
52228            0     0
129471           1     0
21517            1     0
120141           0     0
130129           1     1
54158            0     0
135846           0     0
113767           0     0
106162           0     0
17972            1     0
50161            1     1
50231            1     1
32075            1     0
50041            1     0
9573             0     1
41714            1     0
5761             0     0
41826            0     1
121968           0     0
85138            0     0
51180            0     0
13312            0     0
63733            1     0
112825           1     0
60725            0     0
62997            1     1
100753           0     0
146906           1     1
78024            0     0
56406            1     1
77293            0     0
69335            0     0
8613             0     0
48821            0     0
26327            0     0
51287            0     0
86618            0     0
116100           0     0
83357            0     0
12172            0     0
32189            1     0
44147            1     0
127086           1     0
56158            0     0
107647           1     0
37125            1     1
10383            1     0
22583            0     0
43896            0     0
121614           0     0
36864            0     0
39357            0     0
141320           1     1
48227            0     0
34079            0     0
64869            0     1
113952           0     0
58555            0     0
17502            0     0
130024           0     0
114884           0     1
57767            1     1
88311            0     1
142969           1     1
28428            0     0
143654           0     0
144175           0     0
44410            1     0
45236            0     0
46005            0     1
102452           0     0
53686            0     0
101486           1     1
121521           0     0
57501            1     1
58110            1     0
57578            0     0
86247            1     0
146909           1     0
89605            0     0
17188            0     0
52961            1     0
49742            0     0
115620           0     0
69512            0     0
40206            0     0
34231            0     0
138458           1     1
117936           1     1
71024            0     0
28802            1     0
50399            1     1
72469            0     0
57909            0     0
43371            0     0
30608            1     1
122628           0     1
89143            1     0
43596            0     0
33091            0     0
44455            0     0
121795           0     0
16253            1     1
144929           1     1
31622            0     0
42153            1     0
21030            0     1
142988           1     0
54084            0     0
31303            1     0
24167            0     0
55886            0     1
21700            0     0
59896            1     0
97656            0     0
137742           0     0
121771           0     0
88942            0     0
114230           0     0
53601            0     0
5173             0     0
19716            1     1
125987           0     0
61301            0     0
119143           1     1
9937             1     0
127331           0     0
123020           1     0
91188            1     1
104307           0     0
71284            0     0
129924           0     0
59211            0     0
90621            0     0
52013            1     0
38133            1     1
10238            0     0
27389            0     0
27234            1     1
33740            1     0
83880            1     1
23706            1     0
73112            0     0
9739             1     0
143346           1     1
110864           1     0
16429            0     0
38668            0     0
147062           0     1
31047            1     1
77141            0     0
101009           0     0
111035           0     0
22922            1     0
77682            1     0
125132           0     0
96238            0     0
53727            0     0
73090            1     0
120340           0     0
133338           0     0
23121            1     1
7665             0     0
98628            1     1
64769            0     0
213              0     0
31392            1     0
28553            0     0
35811            0     0
76446            0     0
103063           1     0
24991            0     0
21092            0     0
60334            0     0
44359            1     0
114854           0     0
122167           0     0
34423            1     0
128548           1     1
71395            0     0
91185            1     0
88658            0     1
82166            1     0
17785            0     0
57489            0     0
100222           0     1
73074            0     0
115847           1     1
50754            1     0
54957            0     0
15742            1     1
8449             1     0
80480            1     0
117381           0     0
30822            0     0
73891            0     0
117078           0     0
79925            0     1
141505           0     0
96112            0     0
12156            1     0
16902            0     0
6110             0     0
6827             1     1
143675           1     0
108614           0     0
147002           1     0
4752             0     0
42857            1     0
71080            0     0
142925           0     1
102046           1     1
14094            1     1
134486           0     0
33942            0     0
95317            0     0
106867           0     0
76413            0     0
30076            1     0
92768            0     0
3156             0     0
93437            1     0
84400            0     1
120460           0     0
27053            1     0
44709            0     0
118655           0     1
63912            0     1
139581           0     0
13464            0     0
2941             0     0
43741            0     0
81600            1     0
83149            0     0
88274            0     0
13481            0     1
73922            0     0
106821           1     1
101569           1     0
37791            0     0
124106           0     0
138605           0     0
77334            0     0
71109            1     1
134811           0     0
15975            1     1
31948            0     0

### User Input for the interface

In [68]:
# Define variables with user input
#i_upfront_charges = float(input("Please enter upfront charges: "))
#i_interest_rate = float(input("Please enter interest rate: "))
#i_interest_rate_spread = float(input("Please enter interest rate spread: "))
i_EQUI = int(input("Credit Type EQUI: "))
i_CRIF = int(input("Credit Type CRIF: "))
i_EXP = int(input("Credit Type EXP: "))
i_income = float(input("Please enter the income: "))
i_loan_amount = float(input("Please enter loan_amount requested: "))
i_credit_score = int(input("Please enter credit score: "))

Credit Type EQUI: 1
Credit Type CRIF: 0
Credit Type EXP: 0
Please enter the income: 500
Please enter loan_amount requested: 1000000
Please enter credit score: 120

In [69]:
# Creating a new DF with the user input 
#new_data = pd.DataFrame(columns=["i_upfront_charges","i_interest_rate", "i_interest_rate_spread", "i_EQUI", "i_CRIF", "i_EXP",
#                                "i_income", "i_loan_amount", "i_credit_score"])
#new_data.loc[0] = pd.Series({"i_upfront_charges":i_upfront_charges,"i_interest_rate":i_interest_rate, "i_interest_rate_spread":i_interest_rate_spread,
#                             "i_EQUI":i_EQUI, "i_CRIF":i_CRIF,"i_EXP":i_EXP,"i_income":i_income, "i_loan_amount":i_loan_amount,
#                               "i_credit_score":i_credit_score})
new_data = pd.DataFrame(columns=["i_EQUI", "i_CRIF", "i_EXP","i_income", "i_loan_amount", "i_credit_score"])
new_data.loc[0] = pd.Series({"i_EQUI":i_EQUI, "i_CRIF":i_CRIF,"i_EXP":i_EXP,"i_income":i_income, "i_loan_amount":i_loan_amount,
                               "i_credit_score":i_credit_score})

In [70]:
new_data

   i_EQUI  i_CRIF  i_EXP  i_income  i_loan_amount  i_credit_score
0     1.0     0.0    0.0     500.0      1000000.0           120.0

In [71]:
# Predict the target with the user input data
new_prediction=clf2.predict(new_data)

In [72]:
# Check the predictions result
new_prediction[0]

1

In [73]:
# Check the probability
clf2.predict_proba(new_data)

array([[0.20212561, 0.79787439]])